
.grid{
 
display: grid;
grid-template-columns: repeat(3,1fr);
gap:30px;
 margin: 20px;
}

.photo{
background-color:rgb(66, 65, 65);
border-radius: 22px;
/* padding: 150px;
height: 350px; */
padding: 20px;

border: 1px solid rgba(92, 92, 92, 1);
transition: 0.4s;
overflow: hidden;
position: relative;
backdrop-filter: blur(10px);
}
h3{
    margin-bottom: 10px;
    font-size: 14px;
}
p{
    font-size: 14px;
    margin-bottom: 15px ;
    opacity: 0.7;
}
ol{
    padding-left: 18px;
    opacity: 0.85;
    font-size: 14ox;
    line-height: 1.6;
}

