* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  gap: 52px;
  margin: 18.51px 80px;
  a {
    padding: 10px;
    color: #b5b5b5;
    font-size: 14px;
  }
  img {
    width: 60.31px;
    height: 41.97px;
  }
}
#container {
  display: flex;
  justify-content: space-between;
  background: #0a0a0b;
  height: 79px;
}
.hed1 {
  display: flex;
  gap: 24px;
  font-size: 14px;
  margin: 18.51px 80px;
  color: white;
  .hed2 {
    display: flex;
    flex-direction: column;
    p {
      color: #b5b5b5;
    }
  }
  select {
    padding: 10px;
    border-radius: 8px;
    width: 118px;
    height: 45px;
    border-color: white;
    .flag {
      width: 32;
      height: 24;
      border-radius: 2px;
    }
  }
}
.btn {
  padding: 10px 24px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right#D4151C, #d35400);
}
